body {
  background-image:url('content/bg.jpg');
  font-family: 'Courier New', 'Courier', monospace;
  margin: 0;
  padding: 0;
}

#about-header-wrapper {
  margin: 28px;
  width: 88%;
}

#about-header {
  background-image: url('content/jakecool.jpg');
  background-position: center;
  height: 360px;
  background-size: cover;
}

.fancy img {
  height: 260px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 633px;
}

#popup-container {
  background: #ffffff;
  height: 640px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 640px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.socialmedia-small b {
  position: relative;
  top: -11px;
}

.socialmedia-small img {
  margin: 8px;
  margin-bottom: 0;
  margin-top: 16px;
  width: 32px;
  height: 32px;
}

.socialmedia img {
  margin: 16px;
  margin-bottom: 0;
  width: 64px;
  height: 64px;
}

.social-media-table .right {
  font-size: 24px;
}

/* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.caption {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

.caption .column {
  background-color: #afb9c3
}

.container {
  border: 1px solid grey;
  background: #ffff66;
  border-spacing: 3px;
  border-collapse: separate;
  margin: 0 auto;
  max-width: 640px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  border: 1px solid grey;
  margin: 1px;
  padding: 10px;
  vertical-align: top;
}

div.title {
  font-size: 175%;
  margin-bottom: 16px;
  margin-left: 165px;
}

div.title.applink {
  margin-left: 16px;
}

.column {
  width: 189px;
}

.centered {
  text-align: center;
}

.solo {
  width: 100%;
}

.left {
  width: 19%
}

.left a img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

.right {
  padding-right: 13px;
  width: 73%;
}

caption {
  background: #c0c0c0;
  font-size: larger; 
  font-weight: bold;
}

.gameimg {
  cursor: pointer;
  float: left;
  margin-right: 16px;
  outline: 1px solid blue;
  position: relative;
  top: -44px;
  margin-bottom: -43px;
}

.gameimg:hover {
  outline: 8px solid #ffaa10;
}

.appimg {
  cursor: pointer;
  outline: 1px solid blue;
  max-width: 500px;
  min-width: 300px;
  height: 200px;
}

.appimg:hover {
  outline: 8px solid #ffaa10;
}

.links-container img {
	max-width: 300px;
}

div.clickable a {
  font-weight: bold;
}

div.clickable a:hover {
  background: #ffaa10;
}

.clickable:hover:not(.solo) {
  background: #ffaa10;
}

ul {
  padding-left: 16px;
}

li {
  margin-bottom: 8px;
}

/* miscellaneous table classes */
.table-container {
  margin: 10px;
}

.header {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}

.hidden {
  border: none;
  padding: 0;
}

.info {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}

/* NAVIGATION */
.nav {
  background-color: #ffcccc;
  border: 1px solid grey;
  border-spacing: 3px;
  border-collapse: separate;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
  width: 100%;
}


.nav .row {
  margin-bottom: 3px;
  margin-top: 3px;
}

.nav .row div {
  border: 1px solid grey;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  vertical-align: top;
  padding: 10px;
  margin-right: 3px;
  width: 15%
}

.nav .row div:hover {
  background: #f73b99;
  cursor: pointer;
}

.nav .row div.selected {
  background-color: #e49191;
}

/** I should rewrite this website */
.nav .row div:nth-child(3) {
  display: none;
}

.nav .row div a {
  color: black;
  display: block;
  margin: -10px;
  padding: 10px;
  text-decoration: none;
}

/*********************** RESPONSIVE MOBILE UI *****************************/
@media screen and (max-width: 650px) {
  .nav .row div {
    width: 25%;
    margin-top: 3px; margin-bottom: 3px; margin-left:3px;
  }
  
  .left,
  .column:not(.solo).left {
    width: 100%;
  }

  .right, 
  .column:not(.solo).right {
    width: 100%;
  }

  div.title {
    margin-left: 0px;
  }
  
  .gameimg {
    margin-bottom: 0px;
    position: static;
    width: 75px;
  }
  
  .appimg {
    max-width: 300px;
    height: 100px;
  }
  
  .socialmedia img {
    margin: 4px;
    margin-bottom: 0;
  }
  
  .column:not(.solo) {
	  overflow-x: hidden;
	  width: 25%;
  }
}
