<div class="table-container">
  <div class="container">
    <div class="row caption">
      <div class="column solo">
          dungeon of trials
      </div>
    </div>

    <div class="row">
      <div class="column solo">
        <iframe width="640" height="520" src="https://cakeandturtles.nfshost.com/games/dungeon.html" frameborder="0">loading...</iframe>
        The Dungeon of Rudimentary Trials awaits you brave warrior! <br />
        Be brave and courageous and do not give up!<br/>
        <i><b>(javascript must be enabled in order to play)</b></i>
      </div>
    </div>

    <div class="row">
      <div class="clickable column centered">
        <a href="content/dungeon/01.png" data-lightbox="dungeon"><img src="content/dungeon/icon01.png"/></a>
      </div>
      <div class="clickable column centered">
        <a href="content/dungeon/02.png" data-lightbox="dungeon"><img src="content/dungeon/icon02.png"/></a>
      </div>
      <div class="clickable column centered">
        <a href="content/dungeon/03.png" data-lightbox="dungeon"><img src="content/dungeon/icon03.png"/></a>
      </div>
    </div>
  </div>
</div>