<div class="table-container">
  <div class="container">
    <div class="row caption">
      <div class="column solo">
          goblin catcher
      </div>
    </div>

    <div class="row">
      <div class="column solo">
        <center>click to start!</center>
        <center>Use the arrow keys/WASD to control the player.</center>
        <iframe width="640" height="600" src="https://cakeandturtles.nfshost.com/games/goblin2.html" frameborder="0">loading...</iframe>
        <br/>
        Goblin Catcher is my first finished graphical game!<br/><br/>
        Don't get too close to the Guardians! <br /><br/>
        (death/victory sounds from The Legend of Zelda (NES 1986))
        <br /><br />
        <a href="http://www.lostdecadegames.com/how-to-make-a-simple-html5-canvas-game/">
          Based off of this tutorial
        </a>
      </div>
    </div>

    <div class="row">
      <div class="clickable column centered">
        <a href="content/goblin/01.png" data-lightbox="goblin"><img src="content/goblin/icon01.png"/></a>
      </div>
      <div class="clickable column centered">
        <a href="content/goblin/02.png" data-lightbox="goblin"><img src="content/goblin/icon02.png"/></a>
      </div>
      <div class="clickable column centered">
        <a href="content/goblin/03.png" data-lightbox="goblin"><img src="content/goblin/icon03.png"/></a>
      </div>
    </div>
  </div>
</div>