<div class="table-container">
  <div class="container">
    <div class="row caption">
      <div class="column solo">
          misc etc inc
      </div>
    </div>

    <div class="row">
      <div class="column solo">
        <center>A compilation video of various prototypes</center>
        <br/>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_tE6WpBHQ-M" frameborder="0" allowfullscreen></iframe>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="clickable column centered">
        <a href="content/misc/misc00.png" data-lightbox="misc"><img src="content/misc/icon00.png" /></a>
      </div>
      <div class="clickable column centered">
        <a href="content/misc/misc01.png" data-lightbox="misc"><img src="content/misc/icon01.png" /></a>
      </div>
      <div class="clickable column centered">
        <a href="content/misc/misc02.png" data-lightbox="misc"><img src="content/misc/icon02.png" /></a>
      </div>
    </div>

    <div class="row">
      <div class="clickable column centered">
        <a href="content/misc/misc03.png" data-lightbox="misc"><img src="content/misc/icon03.png" /></a>
      </div>
      <div class="clickable column centered">
        <a href="content/misc/misc04.jpg" data-lightbox="misc"><img src="content/misc/icon04.png" /></a>
      </div>
      <div class="clickable column centered">
        <a href="content/misc/misc05.png" data-lightbox="misc"><img src="content/misc/icon05.png" /></a>
      </div>
    </div>

    <div class="row">
      <div class="clickable column centered">
        <a href="content/misc/misc06.png" data-lightbox="misc"><img src="content/misc/icon06.png" /></a>
      </div>
      <div class="clickable column centered">
        <a href="content/misc/misc07.png" data-lightbox="misc"><img src="content/misc/icon07.png" /></a>
      </div>
      <div class="clickable column centered">
      </div>
    </div>
  </div>
</div>