<!-- Appas!! -->
<div class="table-container">
  <div class="container">
    <div class="row caption">
      <div class="column solo">
          applications
      </div>
    </div>

    <!-- Minipaint -->
    <div class="row">
      <div class="clickable column solo">
          <a href="https://jakeonaut.github.io/minipaint/" target="_blank">
            <div class="title applink">mini paint:</div>
          </a>
          <center><img class="appimg" src="content/apps/minipaint.png"/></center>
          <br/>
          <b>mini paint</b> is an online painting tool for quick doodling
          <br/><br/>
          Originally made with <a href="http://tablekat.net/#/?_k=6mub77">Kathy Hill</a>
          for our Undegraduate Senior Project, I have since stripped it of its 
          original online/app features and added more painting tools.
      </div>
    </div>

    <!-- Pixly -->
    <div class="row">
        <div class="clickable column solo">
            <a href="outreach.cs.ua.edu/pixly/" target="_blank">
              <div class="title applink">
                  Pixly:
              </div>
            </a>
            <center><img class="appimg" src="content/apps/pixly.png"/></center>
        </div>
      </div>

    <!-- Your Special Chef Recipe Creator -->
    <div class="row">
      <div class="clickable column solo">
          <a href="http://www.yourspecialchef.net/recipe-creator.html" target="_blank">
            <div class="title applink">
                Your Special Chef Recipe Creator:
            </div>
          </a>
          <center><img class="appimg" src="content/apps/yourspecialchef.png"/></center>

      </div>
    </div>

    <!-- Old Neopets images -->
    <div class="row">
      <div class="clickable column solo">
          <a href="https://chrome.google.com/webstore/detail/old-neopets-images/nlaeghjeidjookbidplofgjlipbcdaeb" target="_blank">
            <div class="title applink">
                Old Neopets Images
            </div>
          </a>
          <center><img class="appimg" src="content/apps/neopets150.gif"/></center>

      </div>
    </div>

    <!-- Palette World -->
    <div class="row">
      <div class="clickable column solo">
          <a href="http://jakeonaut.github.io/palette-world/" target="_blank">
            <div class="title applink">
                Palette World
            </div>
          </a>
          <center><img class="appimg" src="content/apps/palette150.png"/></center>

      </div>
    </div>

    <!-- Game of Life -->
    <div class="row">
      <div class="clickable column solo">
          <a href="https://cakeandturtles.nfshost.com/games/gameoflife.php" target="_blank">
            <div class="title applink">
                Conway's Game of Life
            </div>
          </a>
          <center><img class="appimg" src="content/apps/gameoflife150.png"/></center>

      </div>
    </div>

  </div>
</div>