<!--pixel art selections (see original website) <br/>
  + collage of sprites from all game projects Ive ever worked on (dig through google drive)
  <br/> + collage of game mockups

<br/><br/>collage of minipaint doodles

<br/><br/>selected fuller pieces from art class
<br/>+ collage of doodles-->
<div class="table-container">
  <table>
    <caption>pixel art (circa 2011)</caption>
    <tr>
      <td class="clickable">
        <a href="content/rgb/rgbmockup02.png" data-lightbox="rgb"><img src="content/rgb/rgbicon02.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup01.gif" data-lightbox="rgb"><img src="content/rgb/rgbicon01.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup000.png" data-lightbox="rgb"><img src="content/rgb/rgbicon000.png" /></a>
      </td>
    </tr>
  </table>
</div>