<html>
  <head>
    <meta name=viewport 
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="lightbox/css/lightbox.css">
    <link href="dist/lity.css" rel="stylesheet">    
  </head>
  <body>
    <table id="navigation" class="nav">
      <tr>
        <td {{'class="selected"' if currentPage is equalto 'jaketrower'}}>
          <a href="./index.html">about</a></td>
        <td {{'class="selected"' if currentPage is equalto 'games'}}>
          <a href="./games.html">games</a></td>
        <td {{'class="selected"' if currentPage is equalto 'visual art'}}>
          <a href="./art.html">art</a></td>
        <td {{'class="selected"' if currentPage is equalto 'applications'}}>
          <a href="./apps.html">apps</a></td>
        <td {{'class="selected"' if currentPage is equalto 'links'}}>
          <a href="./links.html">links</a></td>
      </tr>
    </table>

    <br/><br/>

    {{pageContent}}
<!-- 
    <div id="popup-container">hello
    </div> -->

    <script src="lightbox/js/lightbox-plus-jquery.js"></script>
    <script>
      lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'fadeDuration': 100,
        'resizeDuration': 100,
        'imageFadeDuration': 100,
      });
    </script>
    <script src="dist/lity.js"></script>
    <script src="js.js"></script>
  </body>
</html>