<!-- GAMES -->
<div class="table-container">
  <table>
    <caption style="font-size: larger; background: #c0c0c0;"> 
      <b>playable videogames</b>
    </caption>
    <tr>
      <td class="hidden"><img src="content/glitch150.png"/></td>
      <td>
        <h2>glitch dungeon:</h2>
        glitch dungeon is a game made for
        <a href="http://jams.gamejolt.io/glitchjam">GameJolt's 2014 Glitch Jam</a>.
        <br/><br/>
        It took second place overall!
      </td>
    </tr>
    <tr>
      <td class="hidden"><img src="content/goblinCatcher100.png"/></td>
      <td>
        <h2>goblin catcher:</h2>
        GOBLIN CATCHER was the first graphical game I ever made! <br/><br/>
        Based off of <a href="http://www.lostdecadegames.com/how-to-make-a-simple-html5-canvas-game/">
        this great HTML5/JavaScript tutorial!</a>
        <br/><br/>
        And I got to the top of the <a href="https://www.reddit.com/r/gamedev/comments/w8hfx/my_first_graphical_game_finished_in/">gamedev subreddit</a> for a 
        little while (I was so excited!!).
      </td>
    </tr>
  </table>
</div>