
<div class="info">click an image to play the game!</div>
<!-- GAMES -->
<div class="table-container">
  <table>
    <caption style="font-size: larger; background: #c0c0c0;"> 
      <b>playable games</b>
    </caption>
      <tr>
          <td class="clickable">
            <a href="https://cakeandturtles.nfshost.com/games/glitchdungeon.php" >
              <img src="content/glitch150.png"/>
            </a>
          </td>
          <td>
            <h2>glitch dungeon:</h2>
            Made for
            <a href="http://jams.gamejolt.io/glitchjam">GameJolt's 2014 Glitch Jam</a>. It took second place overall!
            <br/><br/>
            My most popular game to date, with over <strong><i>25,000</i></strong> unique plays!
            I've even had <a href="http://mrfxinc.tumblr.com/post/97596460236/amazing-i-still-love-glitch-dungeon-and-im">
            fan</a> <a href="http://cakeandturtles.tumblr.com/post/116850946650/someone-else-user-foxxymarble-from-gamejolt">
            art</a> and <a href="https://www.youtube.com/watch?v=CgFPzd_xtEI">speedruns</a> 
            shared with me :D!!!!
          </td>
        </a>
      </tr>
    <tr>
      <td class="clickable">
        <a href="https://cakeandturtles.nfshost.com/games/goblin2.php" >
          <img src="content/goblinCatcher100.png"/>
        </a>
      </td>
      <td>
        <h2>goblin catcher:</h2>
        The first graphical game I ever made! It was based off of <a href="http://www.lostdecadegames.com/how-to-make-a-simple-html5-canvas-game/">
        this great HTML5/JavaScript tutorial!</a>
        <br/><br/>
        And I got to the top of the <a href="https://www.reddit.com/r/gamedev/comments/w8hfx/my_first_graphical_game_finished_in/">gamedev subreddit</a> for a 
        little while (I was so excited!!).
      </td>
    </tr>
    <tr>
      <td class="clickable">
          <a href="https://cakeandturtles.nfshost.com/games/monkeyking.php" >
            <img src="content/monkeyking150.png"/>
          </a>
      </td>
      <td>
        <h2>the monkey king:</h2>
        a game I made in a couple weeks off of the fumes of success from glitch dungeon.
        <br/><br/>
        My first foray into <strong>boss battles...</strong> and last!
      </td>
    </tr>
    <tr>
        <td class="clickable">
            <a href="https://cakeandturtles.nfshost.com/games/pixelPets.php" >
              <img src="content/pixelpets150.png"/>
            </a>
        </td>
        <td>
          <h2>pixel pets:</h2>
          an <strong><i>idle</i></strong> game I made for 
          <a href="http://www.onegameamonth.com/cakeandturtles">one game a month</a>.
          inspired by pokemon and neopets, I made it using stolen digimon sprites.
          <br/><br/>
          see <strong>abandonware</strong> below for when this was a WIP android game.
        </td>
      </tr>
    <tr>
      <td class="clickable">
          <a href="https://cakeandturtles.nfshost.com/games/echoisland.php" >
            <img src="content/woe100.png"/>
          </a>
      </td>
      <td>
        <h2>echo island:</h2>
        a <strong><i>flash</i></strong> game I made for 
        <a href="http://www.onegameamonth.com/cakeandturtles">one game a month</a>.
        more of an experiment with programmatic land and <strong>sound 
        generation</strong> than a game, really. 
        <br/><br/>
        <i>note: I'm not sure why my flash games take so long to load. if it crashes,
          refreshing the browser normally helps!
        </i>
      </td>
    </tr>
    <tr>
      <td class="clickable">
          <a href="https://cakeandturtles.nfshost.com/games/gauntlet.php" >
            <img src="content/gauntletLove100.png"/>
          </a>
      </td>
      <td>
        <h2>gauntlet of love</h2>
        a <strong><i>flash</i></strong> game I made for 
        <a href="http://www.onegameamonth.com/cakeandturtles">one game a month</a>.
        a classic <strong>zelda arcade clone</strong>: complete with "borrowed" sprites and music
        <br/><br/>
        <i>note: I'm not sure why my flash games take so long to load. if it crashes,
          refreshing the browser normally helps!
        </i>
      </td>
    </tr>
    <tr>
        <td class="clickable">
            <a href="https://cakeandturtles.nfshost.com/games/dungeon.php" >
              <img src="content/dungeonText100.png"/>
            </a>
        </td>
        <td>
          <h2>dungeon of rudimentary trials:</h2>
          a very obtuse <strong>text adventure</strong> game I made originally in python :)
          <br/><br/>
          After many complaints, I have made a <a href="./walkthrough.html" ><strong>
          spoiler-free walkthrough</strong></a> to aid in playthrough.
        </td>
      </tr>
  </table>
</div>

<br/><br/>

<div class="table-container">
  <table>
    <caption style="font-size: larger; background: #c0c0c0;"> 
      <b>abandonware</b>
    </caption>
    <tr>
      <td class="hidden">img</td>
      <td>
        <h2>music quest:</h2>
        Another one of my more experimental titles, I probably spent more time
        looking for "inspiration pictures" and researching different musical
        genres than I did actually developing this as a game :).
      </td>
    </tr>
    <tr>
      <td class="hidden"><img src="content/mockups/rgbmockup150.png"/></td>
      <td>
        <h2>rgb game:</h2>
        One of the first large scale game projects I worked on, this game went
        through various designs and prototypes. Although I never finished it, 
        I've included old mockups and assets here. 
      </td>
    </tr>
  </table>
</div>