<div class="table-container">
  <div class="fancy container">
    <div class="row caption">
      <div class="column solo">
        about Jake Trower
      </div>
    </div>
    <div class="row">
      <div id="about-header-wrapper">
        <div id="about-header" class="column solo">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="column left"><strong>Name:</strong></div>
      <div class="column right">Jake Trower</div>
    </div>

    <div class="row">
      <div class="column left"><strong>Occupation:</strong></div>
      <div class="column right">Front-end Software Engineer @ Google</div>
    </div>

    <div class="row">
      <div class="column left"><strong>Abilities (work):</strong></div>
      <div class="column right">JavaScript/CSS (advanced), Java (advanced), 
        <br/>Python (intermediate), C#, WebGL, Unity, GML </div>
    </div>

    <div class="row">
      <div class="column left"><strong>Abilities (other):</strong></div>
      <div class="column right">drawing (intermediate), piano (intermediate), design, pixel art,
          writing, running, bird calls</div>
    </div>  

    <div class="row">
      <div class="column left"><strong>Occupation:</strong></div>
      <div class="column right">Front-end Software Engineer @ Google</div>
    </div>

    <div class="row">
      <div class="column left"><strong>Gallup Strengths:</strong></div>
      <div class="column right">Restoration, Empathy, Input, Ideation, Adaptability</div>
    </div>

    <div class="row">
      <div class="column left"><strong>Personality:</strong></div>
      <div class="column right">(E)xtroverted, i(N)tuitive, (F)eeling, (P)erceptive</div>
    </div>

    <div class="row">
      <div class="column left"><strong>Alignment:</strong></div>
      <div class="column right">Neutral Good</div>
    </div>

    <div class="row">
      <div class="column left"><strong>Zodiac:</strong></div>
      <div class="column right">Sagittarius (sun), Pisces (moon/rising)</div>
    </div>
  </div>
</div> 
