<div class="table-container">
  <div class="container">
    <div class="row caption">
      <div class="column solo">
          misc etc inc
      </div>
    </div>

    <div class="row">
      <div class="column solo">
        <center>A compilation video of various prototypes</center>
        <br/>
        <iframe width="560" height="315" src="https://cakeandturtles.nfshost.com" frameborder="0" allowfullscreen></iframe>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="clickable column centered">

      </div>
      <div class="clickable column centered">

      </div>
      <div class="clickable column centered">

      </div>
    </div>
  </div>
</div>