<div class="table-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Vveoe9Rvnsw" frameborder="0" allowfullscreen></iframe>
  <br/><br/>
  <img src="content/musicquest/musicquest00.png" data-lightbox="musicquest" />
  <img src="content/musicquest/musicquest01.png" data-lightbox="musicquest" />
  <img src="content/musicquest/musicquest02.mp4" data-lightbox="musicquest" />
  <img src="content/musicquest/musicquest03.png" data-lightbox="musicquest" />
  <img src="content/musicquest/musicquest04.png" data-lightbox="musicquest" />
  <img src="content/musicquest/musicquest05.png" data-lightbox="musicquest" />
  <img src="content/musicquest/musicquest06.png" data-lightbox="musicquest" />
</div>