<div class="table-container">
  <table>
    <caption>rgb mockup</caption>
    <tr>
      <td colspan="3">
        <center>A gameplay video from the most recent prototype I have saved</center>
        <br/>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/E8gzexgsYaw" frameborder="0" allowfullscreen></iframe>
        <br/>
        <center><i>Warning: loud sfx around 36 seconds in.</i></center>
        <br/>
      </td>
    </tr>
    <tr>
      <td class="clickable">
        <a href="content/rgb/rgbmockup02.png" data-lightbox="rgb"><img src="content/rgb/rgbicon02.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup01.gif" data-lightbox="rgb"><img src="content/rgb/rgbicon01.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup000.png" data-lightbox="rgb"><img src="content/rgb/rgbicon000.png" /></a>
      </td>
    </tr>
    <tr>
      <td class="clickable">
        <a href="content/rgb/rgbmockup06.png" data-lightbox="rgb"><img src="content/rgb/rgbicon06.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup07.png" data-lightbox="rgb"><img src="content/rgb/rgbicon07.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup08.png" data-lightbox="rgb"><img src="content/rgb/rgbicon08.png" /></a>
      </td>
    </tr>
      <td class="clickable">
        <a href="content/rgb/rgbmockup09.png" data-lightbox="rgb"><img src="content/rgb/rgbicon09.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup10.png" data-lightbox="rgb"><img src="content/rgb/rgbicon10.png" /></a>
      </td>
      <td class="clickable">
        <a href="content/rgb/rgbmockup00.png" data-lightbox="rgb"><img src="content/rgb/rgbicon00.png" /></a>
      </td>
    </tr>
  </table>
</div>